name: ygg
services:
    rustfs:
        container_name: rustfs
        # This forces the container to use your current user's ID
        user: "${UID:-1000}:${GID:-1000}"
        ports:
          - 9000:9000
          - 9001:9001
        volumes:
          # Removed :Z (SELinux) as it is usually not needed on standard Ubuntu
          - /home/thiago/projects/.ygg/rustfs:/data
        environment:
          - RUSTFS_ACCESS_KEY=rustfsadmin
          - RUSTFS_SECRET_KEY=rustfsadmin
          - RUSTFS_CONSOLE_ENABLE=true
        command: >
          --console-enable
          --access-key rustfsadmin
          --secret-key rustfsadmin
          /data
        image: rustfs/rustfs:latest
    postgres:
        container_name: catalog
        image: postgres:17
        ports:
            - 5432:5432
        environment:
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres
            - POSTGRES_DB=postgres
        volumes:
            - postgres_data:/var/lib/postgresql/data

volumes:
    postgres_data:
