services:
  ygg_db:
    image: postgres:18-alphine # Using Alpine for a smaller footprint
    container_name: ygg
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydatabase
    ports:
      # This is the critical part: 127.0.0.1 restricts access to localhost
      - "127.0.0.1:5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: